
* {
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.head {
    display: flex;
    flex-wrap: wrap;
height: 1000px;
background-image: linear-gradient(#00000000 0%, #000915), url(fonovoe.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.section {
padding-top: 217px;
padding-bottom: 32px;
font-weight: 700;
font-size: 64px;
color: #ffffff;  
font-family: "Montserrat";
}
.body{
    width: 480px;
    height: 64px;
font-family: "Montserrat";
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0px;
color: #ffffff;
}
.body span{
    font-weight: 700;
}
.font{
    font-weight: 700;
}
.link {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 44px;
width: 234px;
height: 48px;
border-radius: 30px;
color: white;
background-color: #9C0332;
font-size: 18px;
font-family: "montserrat";

}
.for-box {
padding-top: 128px;
padding-bottom: 128px;
background-color: #000915;
}
.product_content{
display: flex;
flex-wrap: wrap;
gap: 32px  ;
}
.product_img {
    height: 300px;
    width: 378px;
    border-radius: 16px;
}
.image-text-container {
    position: relative; 
    display: inline-block;
}
.text-overlay {
    position: absolute;
    top: 236px; 
    left: 32px; 
     color: white; 
     font-size: 24px; 
     text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .head {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .section {
        text-align: center;
        padding-top: 238px;
        font-size: 32px;
    }
    .product_img {
        width: 343px;
    }
    .body {
        display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 22px;
        font-size: 14px;
        width: 343px;
        height: 66px;
    }
    .link{
    margin-top: 32px;
    margin-left: 70px;
    }
    }