* {
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.head {
display: flex;
flex-wrap: wrap;
height: 1000px;
background-image: linear-gradient(#00000000 0%, #000915), url(fonovoe.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.section {
padding-top: 217px;
padding-bottom: 32px;
font-weight: 700;
font-size: 64px;
color: #ffffff;  
font-family: "Montserrat";
}
.body{
    display: block;
    width: 480px;
    height: 64px;
font-family: "Montserrat";
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0px;
color: #ffffff;
}
.body span{
    font-weight: 700;
}
.font{
    font-weight: 700;
}
.button{
    display: flex;
}
.link {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 44px;
border: none;
width: 234px;
height: 48px;
border-radius: 30px;
color: white;
background-color: #9C0332;
font-size: 18px;
font-family: "montserrat";
transition: all 0.3s;
}
.link:hover {
    background-color: #64021f;
    transform: scale(1.1);
}
.link:active {
    transform: scale(0.9);
}
.for-box {
padding-top: 128px;
padding-bottom: 128px;
background-color: #000915;
}
.product_content{
display: flex;
flex-wrap: wrap;
gap: 32px;
position: relative;
padding-top: 128px;
padding-bottom: 128px;
background-color: #000915;
}
.game_img {
    height: 300px;
    width: 378px;
    border-radius: 16px;
}
.product {
    position: relative;
transition: all 0.3s;
}
.product:hover {
    transform: scale(1.1);
}
.product::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(39, 1, 15, 0), rgba(0, 25, 68, 1) );
}
.text_content {
    z-index: 2;
    font-family: "montserrat" ;
    position: absolute;
    font-weight: 600;
    top: 236px; 
    left: 32px; 
     color: white; 
     font-size: 24px; 
     text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.footer {
    display: flex;
    background-color: #000915;
}
.footer_content {
    display: flex;
    flex-wrap: wrap;
    height: 235px;
}
.footer_head {
    padding-top: 282px;
    padding-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
}
.footer_product {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
}
.footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 234px;
    height: 48px;
    border-radius: 30px;
    color: white;
    background-color: #9C0332;
    font-size: 18px;
    font-family: "montserrat";
    transition: all 0.3s;
}
.footer_link:hover {
    background-color: #64021f;
    transform: scale(1.1);
}
.footer_link:active {
    transform: scale(0.9);
}
.footer_gamepad {
    display: flex;
    flex-wrap: wrap;
    padding-top: 233px;
    padding-bottom: 233px;
}


@media (max-width: 767px){
    .head {
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .section {
        text-align: center;
        padding-top: 238px;
        font-size: 32px;
    }
    .game_img {
        width: 343px;
        height: 280px;
    }
    .body {
        display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 22px;
        font-size: 14px;
        width: 343px;
        height: 66px;
    }
    .button{
        justify-content: center;
        align-items: center;
    }
    .link{
    margin-top: 32px;
    }
    .product_content{
        justify-content: center;
    }
    .text_content{
        left: 16px;
    }
    .footer {
display: flex;
flex-wrap: wrap;
justify-content: center;
    }
    .footer_head {
        padding-top: 51px;
        font-size: 32px;
    }
    .footer_content {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-left: 16px;
padding-right: 16px;
    }
    .footer_product {
display: flex;
text-align: center;
flex-wrap: wrap;
font-size: 14px;
line-height: 22px;
}
    .footer_gamepad {
    padding-top: 64px;
    padding-bottom: 85px;
    }
    .gamepad_img {
    width: 344px;
    height: 236px;
}
}
@media (min-width: 768px) and (max-width: 833px) {
   .head {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.section {
    text-align: center;
    padding-top: 238px;
}
.game_img {
    width: 343px;
    height: 280px;
}
.body {
width: 768px;
display: inline-block;
align-items: center;
text-align: center;
line-height: 22px;
height: 66px;
}
.button{
    justify-content: center;
    align-items: center;
}
.link{
margin-top: 32px;
}
.product_content{
    justify-content: center;
}
.text_content{
    left: 16px;
}
.footer {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.footer_head {
    padding-top: 51px;
}
.footer_content {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-left: 16px;
padding-right: 16px;
}
.footer_product {
display: flex;
text-align: center;
flex-wrap: wrap;
line-height: 22px;
}
.footer_gamepad {
padding-top: 64px;
padding-bottom: 85px;
}
}
@media (max-width: 1024px) {
    .center{
        padding-left: calc(50% - 450px);
        padding-right: calc(50% - 450px);
        justify-content: center;
    }
}